* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-decoration: none;
}
div {
    align-items: center;
}

body {
    margin: 0px;
    background: rgb(43, 51, 97);
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    text-align: center;
    max-width: 100%;
    font-weight: 527;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    margin-right: auto;
}
.ii {
    padding-right: 30px;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    nav a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 80%;
        padding: 20px;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 60%;
        padding: 30px;
    }
}
.main-block {
    width: 100%;
    min-height: 500px;
    color: white;
    text-align: center;
    display: flex;
    flex-directio;
    justify-content: center;
    background-image: url(images/jjjj.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1003px;
    min-height: 1003px;}

.photo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: px;
    position: absolute;
   
}
.me {
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: "Press Start 2P", system-ui;
    color: rgb(187, 241, 219);
}

.education p {
    border: 0px solid #466995;
    background-color: #f7e4f881;
    padding: 20px;
    border-radius: 10px;
    margin: 25px 500px;
  
    
}
.about p {
    border: 0px solid #466995;
    background-color: #f7e4f881;
    padding: 20px;
    border-radius: 10px;
    margin: 0 500px;
    display: flex;
    justify-content: center;
}
.hobby li {
    border: 0px solid #466995;
    background-color: #f7e4f881;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 600px;
}
.conteiner {
    list-style-type: none;
    display: flex;
}
.menu {
    position: fixed;
    justify-content: space-around;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    height: 50px;
    background-color: #5e91b3;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    

   /* margin: 0;
    padding: 20px;
    list-style: none;

    display: flex;
    position: fixed;
    top: 0px;
    background-color: rgb(168, 158, 226);
    width: 100%;*/
}
#about h2 {
    background-color: rgba(115, 160, 160, 0.527);
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Press Start 2P", system-ui;
    
}
.works h2{
    background-color: rgba(181, 130, 247, 0.63);
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 25px;
    margin-top: 100px;
    font-family: "Press Start 2P", system-ui;
    
}
.about p {
  
}
.hobby h3{
    background-color: rgb(114, 147, 253);
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 25px;
    margin-top: 100px;
    font-family: "Press Start 2P", system-ui;
}
.education h2 {
    background-color: rgba(149, 234, 255, 0.534);
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 25px;
    margin-top: 100px;
    font-family: "Press Start 2P", system-ui;
    
}
.menu :hover {
    color: aqua;
   
    
}

.workss :hover {
    color: orange;
}

.workss {
    list-style: square;
    border: 0px solid #466995;
    background-color: #f7e4f881;
    border-radius: 10px;
}
    
.works ul {
    display: flex;
    position: sticky;
}

#weaving {
    background-color: rgba(243, 213, 224, 0.411);
    font-size: 30px;
    padding: 10px;
    border: 10px;
    font-family: "Press Start 2P", system-ui;
    margin: 50px 0px;
   
}
#drawing {
    background-color: rgba(193, 220, 245, 0.452);
    font-size: 30px;
    padding: 10px;
    border: 10px;
    font-family: "Press Start 2P", system-ui;
    margin: 50px 0px;
}
#d { 
    background-color: rgba(193, 201, 245, 0.555);
    font-size: 30px;
    padding: 10px;
    border: 10px;
    font-family: "Press Start 2P", system-ui;
    margin: 50px 0px;
}
#painting {
    background-color: rgba(193, 210, 245, 0.623);
    font-size: 30px;
    padding: 10px;
    border: 10px;
    font-family: "Press Start 2P", system-ui;
    margin: 50px 0px;
}
#contact h2 {
    background-color: rgb(245, 193, 242);
    font-size: 30px;
    padding: 10px;
    border: 10px;
    margin: 10px;
    font-family: "Press Start 2P", system-ui;
}

.workss { border: px solid #db0707;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}
.workss :hover {
    padding: 10px ;
    background: #C0D6DF;
    color: #FFF;}
#contacts h2{   background-color: rgba(84, 27, 240, 0.466);
    font-size: 25px;
    padding: 10px;
    border: 10px;
    margin-bottom: 25px;
    margin-top: 100px;
    font-family: "Press Start 2P", system-ui;
}
.contactss {
    margin-bottom: 50px;
}
.contacts p {
    border: 0px solid #466995;
    background-color: #f7e4f881;
    border-radius: 10px;
    margin:20px 600px;
}
html {
    scroll-behavior: smooth;
}

